<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='icon/registro.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.min.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="back_body hidden">
    <div class="centrado" id="onload">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top text-uppercase mb-4" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="{{url_for('inicio')}}">PortoPlag App <i class="fa fa-pagelines" aria-hidden="true"></i></a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler text-white bg-primary navbar-toggler-right text-uppercase rounded"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{url_for('login')}}">Volver a Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100 mb-4">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="{{url_for ('static', filename ='/icon/garden.jpg')}}" class="img-fluid rounded-circle" alt="Imagen de registro">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form action="{{ url_for('registro') }}" method="post" autocomplete="off">
                        <div class=" divider d-flex align-items-center my-4">
                            <p class=" display-4 text-shadow mx-3 mb-0 text-white ">Registro de Usuario</p>
                        </div>
                        <!-- nombres y apellidos input -->
                        <div class="form-outline mb-4">
                            <label for="nombres " class="text-white ">Nombres</label>
                            <input type="text " name="name" class="form-control form-control-md mb-3" placeholder="Ej. Diego Cristhian" required>
                        </div>
                        <div class="form-outline mb-4">
                            <label for="apellidos" class="text-white ">Apellidos</label>
                            <input type="text" name="second" class="form-control form-control-md" placeholder="Ej. Quiroz Chilán" required>
                        </div>
                        <!-- usuario input -->
                        <div class="form-outline mb-3">
                            <label for="nombres" class="text-white">Nombre de Usuario</label>
                            <input type="text" name="username" class="form-control form-control-md" placeholder="Ej. Diego1996 " required>
                        </div>
                        <!-- contraseña input -->
                        <div class="form-outline mb-3">
                            <label for="nombres" class="text-white">Contraseña</label>
                            <input type="password" name="password" class="form-control form-control-md password1 " placeholder="Ingrese una contraseña" min="6" max="10" required><span class="fa fa-fw fa-eye password-icon show-password"></span>
                        </div>
                        <!-- contraseña verify input -->
                        <div class="form-outline mb-3">
                            <label for="nombres" class="text-white">Verificación de contraseña</label>
                            <input type="password" name="c_password" class="form-control form-control-md password2" placeholder="Repita la contraseña" min="6" max="10" required><span class="fa fa-fw fa-eye password-icon show-confirm-password"></span>
                        </div>
                        <div class="text-center text-lg-start mt-4 pt-2">
                            <input type="submit" id="registro" class="btn btn-info btn-lg btn-block" value="Registrar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer class="text-center footer ">
            <div class="container ">
                <div class="row ">
                    <div class="col-md-4 mb-5 mb-lg-0 ">
                        <h4 class="text-uppercase mb-4 ">CRÉDITOS</h4>
                        <p>Diego Quiroz &amp; Cristhian Loor</p>
                    </div>
                    <div class="col-md-4 mb-5 mb-lg-0 ">
                        <h4 class="text-uppercase ">SIGUENOS EN</h4>
                        <ul class="list-inline ">
                            <li class="list-inline-item "><a class="btn btn-outline-light text-center btn-social1 rounded-circle " role="button " href="# "><i class="fa fa-facebook fa-fw "></i></a></li>
                            <li class="list-inline-item "><a class="btn btn-outline-light text-center btn-social2 rounded-circle " role="button " href="# "><i class="fa fa-youtube-play fa-fw "></i></a></li>
                            <li class="list-inline-item "><a class="btn btn-outline-light text-center btn-social3 rounded-circle " role="button " href="# "><i class="fa fa-instagram fa-fw "></i></a></li>
                            <li class="list-inline-item "></li>
                        </ul>
                    </div>
                    <div class="col-md-4 ">
                        <h4 class="text-uppercase mb-4 ">APP AGRÍCOLA</h4>
                        <p class="lead mb-0 "><span><strong>Con todo el&nbsp;🧡 para nuestra comunidad&nbsp;</strong>👨‍🌾<br></span></p>
                    </div>
                </div>
            </div>
        </footer>
        <div class="text-center text-white copyright py-4 ">
            <div class="container "><small>©&nbsp;PortoPlag App 2022</small></div>
        </div>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
    <script src="{{url_for('static', filename='js/carga_pagina.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js "></script>
    <script src="{{url_for( 'static', filename='js/password.js')}} "></script>
    <script src="{{url_for( 'static', filename='js/confirm_password.js')}} "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{{url_for( 'static', filename='js/script.min.js')}} "></script>
</body>

</html>